<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>china</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>山寨微信</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>是否允许访问媒体库</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>是否允许使用蓝牙功能</string>
	<key>NSCalendarsUsageDescription</key>
	<string>是否允许访问日历</string>
	<key>NSCameraUsageDescription</key>
	<string>是否允许使用相机功能</string>
	<key>NSContactsUsageDescription</key>
	<string>是否允许访问您的联系人</string>
	<key>NSHealthShareUsageDescription</key>
	<string>是否允许使用健康分享功能</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>是否允许使用健康更新功能</string>
	<key>NSHomeKitUsageDescription</key>
	<string>是否允许使用Home功能</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>我们需要通过您的地理位置信息获取您周边的相关数据</string>
	<key>NSLocationUsageDescription</key>
	<string>我们需要通过您的地理位置信息获取您周边的相关数据</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>是否允许使用麦克风</string>
	<key>NSMotionUsageDescription</key>
	<string>是否允许使用运动功能</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>是否允许访问相册</string>
	<key>NSRemindersUsageDescription</key>
	<string>是否允许访问提醒</string>
	<key>NSSiriUsageDescription</key>
	<string>是否允许使用Siri</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>是否允许使用语音识别</string>
	<key>NSVideoSubscriberAccountUsageDescription</key>
	<string>是否允许访问电视提供商</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>kTCCServiceMediaLibrary</key>
	<string>是否允许访问音乐</string>
</dict>
</plist>
